<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloHomeKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CE766751BE64F6000D12C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CE766891BE64F6000D12C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CE766941BE64F6000D12C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
